@page "/edit-company"

<MudContainer MaxWidth="MaxWidth.Large"> 
    <MudForm>
        <MudTextField T="string" Label="Company-Name" Required=true RequiredError="Company-Name is required!">

        </MudTextField>

        <MudText>
            Theme
        </MudText>

        <div class="d-flex flex-column" style="width: 20rem; height: 12rem;">
            <MudText>Red</MudText>
            <div class="d-flex flex-row" style="height: 100%; width: 100%; border-radius: 2rem;">
                <div style="background-color: @Colors.Red.Lighten2" class="flex-grow-1"/>
                <div style="background-color: @Colors.Red.Lighten1" class="flex-grow-1"/>
                    <div style="background-color: @Colors.Red.Default" class="flex-grow-1" />
                    <div style="background-color: @Colors.Red.Darken1" class="flex-grow-1" />
                    <div style="background-color: @Colors.Red.Darken2" class="flex-grow-1" />
            </div>
        </div>

        <div class="d-flex flex-column" style="width: 20rem; height: 12rem;">
            <MudText>Red</MudText>
            <div class="d-flex flex-row" style="height: 100%; width: 100%; border-radius: 2rem;">
                <div style="background-color: @Colors.Blue.Lighten2" class="flex-grow-1" />
                <div style="background-color: @Colors.Blue.Lighten1" class="flex-grow-1" />
                <div style="background-color: @Colors.Blue.Default" class="flex-grow-1" />
                <div style="background-color: @Colors.Blue.Darken1" class="flex-grow-1" />
                <div style="background-color: @Colors.Blue.Darken2" class="flex-grow-1" />
            </div>
        </div>
    </MudForm>
</MudContainer>
@code {

}
